:root {
  --greyColor: #2f303a;
  --blueColor: #2196f3;
  --mainTextColor: #212121;
  --smallTextColor: #757575;
  --lightGreyBackground: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--mainTextColor);
  background-color: #f5f5f5;
}
header {
  background-color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  border: 1px solid #ececec;
}
footer {
  background-color: var(--greyColor);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
ul {
  list-style-type: none;
}
a {
  color: var(--mainTextColor);
  text-decoration: none;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
address {
  font-style: normal;
}

p {
  color: var(--smallTextColor);
}

span {
  color: black;
}

button:hover,
button:focus {
  background-color: var(--blueColor);
  color: white;
  cursor: pointer;
}

nav a:hover,
nav a:active,
nav a:focus {
  color: var(--blueColor);
}
.mail:hover,
.telNumber:hover,
.mail:focus,
.telNumber:focus {
  color: var(--blueColor);
}
.telNumber {
  color: var(--smallTextColor);
}
.mail {
  color: var(--blueColor);
}
.logo {
  color: var(--blueColor);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.footerLogo {
  color: white;
}
.mainSection {
  background-color: var(--greyColor);
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.orderButton {
  background-color: var(--blueColor);
  color: white;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.teamSection {
  background-color: var(--lightGreyBackground);
}
.teamUL {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.navButtons button {
  background-color: var(--lightGreyBackground);
  border-radius: 4px;
  height: 38px;
  color: var(--mainTextColor);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}
.navButtonAll {
  width: 73px;
}
.navButtonSite {
  width: 125px;
}
.navButtonApp {
  width: 112px;
}
.navButtonDesign {
  width: 103px;
}
.projectsUL {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
