:root {
  --greyColor: #2f303a;
  --blueColor: #2196f3;
  --mainTextColor: #212121;
  --smallTextColor: #757575;
  --lightGreyBackground: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--mainTextColor);
}
.headerClass {
  background-color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.navList {
  color: var(--mainTextColor);
}
.ulClass a {
  text-decoration: none;
}
.contactInfo a {
  color: rgba(255, 255, 255, 0.6);
}
.contactInfoHead {
  color: var(--smallTextColor);
}
.footerClass {
  background-color: var(--greyColor);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}
.ulClass {
  list-style-type: none;
}
.smallerHeadings {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.teamName {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.smallerFont {
  font-size: 14px;
}
.projectClass {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.adressInfo {
  color: white;
}
.adressClass {
  font-style: normal;
}
.lightGreyText {
  color: var(--smallTextColor);
}

.logoChange {
  color: black;
}
.fontSizeChange {
  font-size: 14px;
  line-height: 1.7;
}
.navButtonAll:hover,
.navButtonAll:focus,
.navButtonSite:hover,
.navButtonSite:focus,
.navButtonApp:hover,
.navButtonApp:focus,
.navButtonDesign:hover,
.navButtonDesign:focus,
.navButtonMarketing:hover,
.navButtonMarketing:focus {
  background-color: var(--blueColor);
  color: white;
  cursor: pointer;
}

nav a:hover,
nav a:active,
nav a:focus {
  color: var(--blueColor);
}
.mail:hover,
.telNumber:hover,
.mail:focus,
.telNumber:focus {
  color: var(--blueColor);
}
.studio {
  color: var(--blueColor);
}
.mail .telNumber {
  color: var(--smallTextColor);
}
.logo {
  color: var(--blueColor);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footerLogo {
  color: white;
}
.mainSection {
  background-color: var(--greyColor);
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.orderButton {
  background-color: var(--blueColor);
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
}
.teamSection {
  background-color: var(--lightGreyBackground);
}
.teamUL {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.whatTeamDoes {
  line-height: 1.2;
}
.navButtons button {
  background-color: var(--lightGreyBackground);
  border-radius: 4px;
  color: var(--mainTextColor);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
}
.navButtonAll {
  width: 73px;
}
.navButtonSite {
  width: 125px;
}
.navButtonApp {
  width: 112px;
}
.navButtonDesign {
  width: 103px;
}
.projectsUL {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.projectDesc {
  line-height: 1.9;
}
